body {
	background: url(image/goudaInteractive.png);
	overflow: hidden;
	font-family: Arial;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

div {
	display: block;
	background: url(image/bg.png);
	padding: 25px;
	width: 200px;
	height: 1080px;
}