body {
	background: url(image/goudaInteractive.png);
	overflow: hidden;
	font-family: Arial;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

div {
	display: block;
	background: #00000055;
	padding: 25px;
}